<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/calendar.css">

  </head>

  <body>

    <%- include header.ejs %>


    <p id="confirmation-test">Here's where I'm testing</p>

    <form name="appointment-form">
      <input name="phoneNumber"></input>
      <input name="issueText"></input>
      <button>Submit</button>
    </form>


    <form name="confirm-testing">
      <button>heelo</button>

    </form>

    <script src="/js/confirm.js"></script>
    <script src="/js/header.js"></script>

  </body>



</html>
