<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/calendar.css">

    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/confirm.css">
  </head>

  <body>

    <%- include header.ejs %>





    <form name="appointment-form">
      <input name="phoneNumber"></input>
      <input name="issueText"></input>
      <button>Submit</button>
    </form>


    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <p id="confirmation-test">Here's where I'm testing</p>
      </div>

    </div>


    <form name="confirm-testing">
      <button>heelo</button>

    </form>

    <script src="/js/confirm.js"></script>
    <script src="/js/header.js"></script>

  </body>



</html>
