<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Julius Sans One|Literata|Merriweather">

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/confirm.css">
  </head>

  <body>

    <%- include header.ejs %>


    <h2>Confirm Appointment</h2>

    <article class="confirm-text">
      Below leave a phone number and reason for appointment. Please keep in mind appointments are an hour long.
      If you have any special request regarding the appointment, please call (407)123-4567 or email us at example@gmail.com.
    </article>

    <form name="appointment-form" class="appointment-form">
      <input name="phoneNumber" class="input-number" placeholder="ex. 4071234567"></input>
      <textarea name="issueText" type="text" class="input-message" rows="10" cols="30" placeholder="Briefly describe repair you need help with."></textarea>
      <button class="confirm-button">Make Appointment</button>
    </form>


    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <div id="confirmation-test"></div>
      </div>

    </div>

    <%- include footer.ejs %>


    <script src="/js/confirm.js"></script>
    <script src="/js/header.js"></script>

  </body>



</html>
