<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <%- include header.ejs %>

    <h1>Hello World</h1>
    <% const date = new Date() %>
    <p><%= date.toString().slice(0,10) %> is the date</p>




    <script src="/js/header.js"></script>
  </body>




</html>
