<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Julius Sans One">

    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/header.css">
  </head>


  <body class="body">

    <%- include header.ejs %>

    <div class="login-status-div">
      <h3 class="login-status">hello</h3>
    </div>

    <div class="login-div">
      <form name="login">
        <input name="login-username"></input>
        <input name="login-password"></input>
        <button>Login</button>
      </form>
    </div>





    <div class="silo-div">
      <div>
        <form name="signin">
          <input name="signin-username"></input>
          <input name="signin-password"></input>
          <button>Sign up</button>
        </form>
      </div>
      <div>
        <form name="logout">
          <button>Log out</button>
        </form>
      </div>
    </div>

    <%- include footer.ejs %>


    <script src="/js/login.js"></script>
    <script src="/js/header.js"></script>
  </body>



</html>
