<!DOCTYPE html>
<html lang="en">

  <head>

  </head>


  <body>
    <div class="login-div">
      <form name="login">
        <input name="login-username"></input>
        <input name="login-password"></input>
        <button>Login</button>
      </form>
    </div>





    <div class="silo-div">
      <div>
        <form name="signin">
          <input name="signin-username"></input>
          <input name="signin-password"></input>
          <button>Sign up</button>
        </form>
      </div>
      <div>
        <form name="logout">
          <button>Log out</button>
        </form>
      </div>
    </div>



    <script src="/js/login.js"></script>
  </body>



</html>
