<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/scheduled.css">

  </head>

  <body>
    <%- include header.ejs %>

    <div class="allAppts">yay</div>

    <form name="apptList">

      <button>See Appointments</button>
    <form>




    <script src="/js/scheduled.js"></script>
    <script src="/js/header.js"></script>
  </body>


</html>
