<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Julius Sans One">

    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/scheduled.css">
    <link rel="stylesheet" href="/css/header.css">
  </head>

  <body>
    <%- include header.ejs %>

    <div class="allAppts">yay</div>

    <form name="apptList">

      <button>See Appointments</button>
    <form>


    <%- include footer.ejs %>
    

    <script src="/js/scheduled.js"></script>
    <script src="/js/header.js"></script>
  </body>


</html>
