
<div class="container-outside">

  <div class="container header-whole">
    <div class="row header-row">
      <div class="col-sm-8 header-logo-div">
        <p class="logo">PHONEDOC</p>
      </div>

      <div class="container col-sm-4 header-buttons-div">
        <div class="row">

          <div class="col-sm-6">
            <form name="home-link">
              <button class="header-button">HOME</button>
            </form>
          </div>

          <div class="col-sm-6">
            <form name="calendar-link">
              <button class="header-button">CALENDAR</button>
            </form>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>
