body {
  background-color: white;
  height: 100%;
}


/* banner styling */
.banner-img {
  height: 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/people-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner-info {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.banner-button {
  border-radius: 25px;
  background-color: #ec2131;
}

.service-title {
  text-align: center;
  background-color: #4a7774;
  width: 150px;
  heigth: 100px;
  margin: 0 auto;
  border-radius: 25px;
  color: white;
}

.service-div {
  width: 850px;
  max-width: 850px;
  margin: 0 auto;
}

.service-col h4 {
  font-family: "Merriweather", sans-serif;
}

.broken-screen-div {
  width: 250px;
  height: 150px;
  max-width: 250px;
  max-height: 150px;
  background-image: url("../images/screen-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

.button-malfunction-div {
  width: 250px;
  height: 150px;
  background-image: url("../images/button-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

.not-charging-div {
  width: 250px;
  height: 150px;
  background-image: url("../images/battery-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

.service-col {
  text-align: center;
}

.service-text {
  padding-top: 10px;
  text-align: center;
  font-family: "Literata", sans-serif;
}

.appointment-article {
  padding: 45px 0px 45px 0px;
  text-align: center;
  width: 850px;
  margin: 0 auto;
  font-family: "Merriweather", sans-serif;
}

.appointment-article {
  font-family: "Literate", sans-serif;
}

.lower-banner {
  background-color: #436eee;
  text-align: center;
}

.lower-banner-title {
  color: white;
  font-family: "Merriweather", sans-serif;
}

.lower-banner-title:first-child {
  padding-top: 20px;
}

.lower-banner-flex {
  padding-top: 13px;
  color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 850px;
  font-family: "Literata", sans-serif;
  padding-bottom: 20px;
}

.lower-banner-flex-child {
  width: 275px;
}
