.header-whole {
  background-color: #3f4a4e;
}

.container-outside {
  background-color: #3f4a4e;
  height: 40px;
}

.header-row {

}

.header-logo-div {
  margin-top: 10px;
}

.header-buttons-div {
  margin-top: 7px;
}

.header-button {
  border-radius: 25px;
}

.logo {
  color: #ec2131;
  text-decoration: underline overline;
  font-family: 'Julius Sans One', sans-serif;
}






/* footer */

.footer-container {
  background-color: #d5dbdb;
  height: 100%;
}

.bottom-logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
