input[name=login-username], input[name=login-password], input[name=signin-username], input[name=signin-password] {
  margin: 0 auto;
  display: block;
  border: 3px solid white;
  padding: 4px;
  width: 240px;

  -webkit-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
}

.sisi-div {
  margin: 0 auto;
  width: 600px;
}

.sisi-button {
  display: block;
  border-radius: 25px;
  margin: 0 auto;
  color: white;
  background-color: #436eee;
}

.logout-div form{
  margin: 0 auto;
  background-color: #4a7774;
  color: white;
  border-radius: 15px;
}
